# Python - file e directory generati da Python che non devono essere inclusi nel repository
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# IDE - file specifici degli ambienti di sviluppo
.idea/
.vscode/
*.swp
*.swo

# Directory specifiche del progetto che contengono dati o risultati
# Directory contenente i risultati dell'elaborazione
output/*  
# Directory contenente i file di input (PDF e immagini)
input/*   
# Directory per immagini temporanee o di test
img/*

cadenCV/